{{define "main"}}

<div class="container">
	<div class="row">
		<div class="col-4 d-none d-lg-block p-4">
			<picture>
				<source srcset="/images/dave-hoefler-UFnHt94r91w-unsplash-solidfont.webp" media="(prefers-color-scheme: dark)">
				<img class="img-fluid" alt="{{ i18n " home.feep.alt" }}"
					src="/images/dave-hoefler-UFnHt94r91w-unsplash-solidfont.webp">
			</picture>
		</div>

		<div class="d-sm-block d-md-none">
			<picture>
			<source srcset="/images/dave-hoefler-UFnHt94r91w-unsplash-mobile-solidfont.webp" media="(prefers-color-scheme: dark)">
			<img class="img-fluid feep-image-mobile" alt="{{ i18n " home.feep.alt" }}"
				src="/images/dave-hoefler-UFnHt94r91w-unsplash-mobile-solidfont.webp">
			</picture>
		</div>

		<div class="col">
			<h2>{{ i18n "home.feep" }}</h2>
			{{ .Content }}
			<div class="pt-4">
				<a href=" https://invent.kde.org/cschumac/feep" class="btn btn-primary">Gitlab</a>
			</div>
		</div>
	</div>
</div>
{{end}}